<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task's Detail - Ta-Da</title>
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>
    <div class="task">
        <h1>Task Details</h1>
        <p><strong>Task:</strong> <%= task.taskInput %></p>
        <p><strong>Due Date:</strong> <%= task.dueDate %></p>
        <p><strong>Category:</strong> <%= task.category %></p>
        <a href="/tasks" class="back-btn">Go Back</a>
    </div>
    <script src="app.js"></script>
</body>
</html>
